.contentContainer {
  position: relative;
}

.mainBanner {
  background-image: url('https://cdn.furrl.in/vibes/VibeCard-NightFlea13.png');
  background-size: cover;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.categoryBar{
  background-color: #ebeef3;
  margin: 10px;
  border-radius: 10px;
  height: 45px;
  padding: 5px;
  display: flex;
}

.categoryBar button {
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  color: black;
  display: flex;
  border-radius: 10px;
  font-size: 14px;
  align-items: center;
}